<div class="home">
<div class="text-center">

	<div class="vertical-space"></div>
	<h1><a href="https://www.asmodeosnetworkco.tk"> Download Github Folders | Asmodeos Network CO</a></h1>
	<div class="center-row"></div>
	<h4>Crea un link de Descarga para una carpeta de github</h4>
	
	
	<div class="vertical-space"></div>
	<div class="col-md-6 center-row">
		<input name="url" type="url" placeholder="GitHub Directory Link" class="form-control" ng-model="url" ></input>
	</div>
	<div class="btn-group center-row">
		<button type="button" class="btn btn-default" ng-click="createDownLink()">Crear Link de Descarga</button>
		<a type="button" class="btn btn-default" ng-href="#home?url={{url}}">Descarga Directa</a>
	</div>
	
	
	<div ng-show="isProcessing.val">
		<div class="vertical-space"></div>
		<img class="processing-img" src="res/images/processing.gif" />
		<p>Descargados {{downloadedFiles.val}} de {{totalFiles.val}} Archivos</p>
	</div>
	
	
	<div class="col-md-6 center-row" ng-show="downUrl">
		<div class="vertical-space"></div>
		<textarea class="form-control download-link-box" ng-model="downUrl" ></textarea>
	</div>
	
	<p align="center"><img src="https://cloud.githubusercontent.com/assets/5456665/17822364/940bded8-6678-11e6-9603-b84d75bccec1.gif"></p>
	 
	<div class="vertical-space"></div>
	<div class="footer">
		<a target="_blank" href="https://github.com/MinhasKamal/DownGit">DownGit</a> by <a target="_blank" href="https://minhaskamal.github.io">Minhas Kamal</a>
	</div>
	
</div>
</div>
